{% extends "base.html" %}

{% block content %}
<div class="home-banner" style="text-align:center; background-image: url('https://i.pinimg.com/736x/6f/bd/b7/6fbdb710d3bb029b4f76f8d8e76226ce.jpg'); background-size: cover; color: white;">
    <div class="home-card">
        <h2 style="font-size: 3em; margin-top: 20px; color: #000000;">Welcome to Shop Bag Hikmah</h2>
        <p style="font-size: 1.5em; color: #000000">Temukan tas favoritmu dengan harga terbaik!</p>
        <a href="/dashboard" class="btn-open">Open</a>
    </div>
</div>
{% endblock %}
